@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "PF Centro Slab Pro";
    src: url("assets/fonts/PFCentroSlabPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PF Centro Slab Pro";
    src: url("assets/fonts/PFCentroSlabPro-Medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "PF Centro Slab Pro";
    src: url("assets/fonts/PFCentroSlabPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
}