.headline {
    display: flex;
    flex-basis: 100%;
    background: #f3f5f7;
    position: relative;
    height: 45px;
    
    &-text {
        overflow: hidden;
        width: 100%;
        margin: 0;
        display: flex; 
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;

        &:hover span {
            animation-play-state: paused;
        }

        & span {
            white-space: nowrap;
            transform: translateX(0);
            animation: headline 20s infinite;
        }
    }

    &-login {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #363636;
        padding: 10px 65px 10px 10px;
        
        &__btn {
            font-family: "PF Centro Slab Pro", sans-serif;
            font-weight: 400;
            background: none;
            border: none;
            color: #fff;

            &:first-of-type::after {
                content: "|";
                padding: 0 2px 0 7px;
            }

            &:hover {
                text-decoration: underline dotted;
            }
        }
    }

    @keyframes headline {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

.first-screen {
    margin-top: 45px;

    & .carousel-inner {
        padding-top: 20px;
    }

    &__item {
        flex-basis: 26.34%;

        &--first {
            flex-basis: 24.33%;
        }

        &--second {
            flex-basis: 49.33%;
        }
    }

    &__slider {
        &-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #dce4eb;
            padding-bottom: 10px;

            &__title {
                font-family: "PF Centro Slab Pro";
                font-weight: 700;
                font-size: 18px;
            }
        }

        &-buttons {
            border: none;
            background: none;
            padding: 0;
        }

        &-news {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            align-items: flex-end;

            &:last-child {
                margin-bottom: 0;
            }

            &__date {
                flex-basis: 100%;
                color: #a6a8b9;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 13px;
            }

            &__title {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 15px;
            }

            &__views {
                margin-left: 10px;
                color: #a6a8b9;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 13px;
            }

            &__comments {
                margin-left: 10px;
                color: #a6a8b9;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 13px;
            }
        }
    }

    &__news {
        &-big {
            position: relative;
            margin-bottom: 24px;

            &__bg {
                width: 100%;
            }

            &__label {
                padding: 25px 25px 34px 22px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #fafcfe;
                opacity: 0.8;
                width: 100%;
                height: 170px;
                display: flex;
                flex-wrap: wrap;

                &-category {
                    flex-basis: 100%;
                    color: #ff5a00;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                &-date {
                    margin-right: auto;
                    color: #7c7e94;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                }

                &-title {
                    flex-basis: 100%;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                &-stats {
                    &__views {
                        margin-right: 14px;
                        color: #7c7e94;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 13px;
                    }

                    &__comments {
                        color: #7c7e94;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 13px;
                    }
                }
            }
        }

        &-small {
            display: flex;
            flex-wrap: wrap;

            &__img {
                width: 100%;
                margin-bottom: 17px;
            }

            &__category {
                flex-basis: 100%;
                color: #ff5a00;
                text-transform: uppercase;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 12px;
                margin-bottom: 14px;
            }

            &__title {
                flex-basis: 100%;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 15px;
            }

            &__date {
                margin-right: auto;
                color: #a6a8b9;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 13px;
            }

            &__stats {
                &__views {
                    color: #a6a8b9;
                }

                &__comments {
                    margin-left: 12px;
                    color: #a6a8b9;
                }
            }
        }
    }
}

.subsrcibe-online {
    display: flex;
    flex-wrap: wrap;
    background: #fafafa;
    padding: 29px 30px 32px 30px;
    margin-bottom: 23px;

    &__title {
        flex-basis: 100%;
        font-family: "PF Centro Slab Pro", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__subtitle {
        flex-basis: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 25px;
    }

    &__btn {
        flex-basis: 100%;
        background: #ff2100;
        border: none;
        padding: 20px 0;
        border-radius: 10px;
        color: #fff;
        font-family: "PF Centro Slab Pro", sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
}

.subsrcibe {
    border: 1px solid #d3d9dd;
    display: flex;
    flex-wrap: wrap;
    padding: 27px 25px 36px 29px;

    &-title {
        flex-basis: 100%;
        margin-bottom: 25px;
        font-family: "PF Centro Slab Pro", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }

    &-subtitle {
        flex-basis: 100%;
        margin-bottom: 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 15px;
    }

    &-form {
        display: inline-flex;
    }

    &-btn {
        background: #1357bc;
        border: none;
        width: 48px;
        height: 45px;
    }

    &-form {
        flex-basis: 100%;
    }

    &-input {
        border: none;
        display: block;
        padding: 0 0 0 20px;
        background: #f5f6f8;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}