<div class="first-screen row">
    <div class="col-3">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="first-screen__slider-header">
                <span class="first-screen__slider-header__title">Ақпарат ағыны</span>
                <div>
                    <button class="first-screen__slider-buttons" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <img src="assets/images/arrow-left.png" alt="">
                    </button>
                    <button class="first-screen__slider-buttons" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <img src="assets/images/arrow-right.png" alt="">
                    </button>
                </div>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Запрет на анонимное комментирование в Сети прокомментировал
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Нурсултан Назарбаев посетит Беларусь
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Регистрацию по месту жительства и снятие с нее можно будет оформить без посещения ЦОНа
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Алматы облысында дәрігер ота жасаған науқастың денесінде затын ұмытып кеткен
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
              </div>
              <div class="carousel-item">
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-6">2</div>
    <div class="col-3">3</div>
</div>