<div class="first-screen row">
    <div class="col-3">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="first-screen__slider-header">
                <span class="first-screen__slider-header__title">Ақпарат ағыны</span>
                <div>
                    <button class="first-screen__slider-buttons" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <img src="assets/images/arrow-left.png" alt="">
                    </button>
                    <button class="first-screen__slider-buttons" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <img src="assets/images/arrow-right.png" alt="">
                    </button>
                </div>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Запрет на анонимное комментирование в Сети прокомментировал
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Нурсултан Назарбаев посетит Беларусь
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Регистрацию по месту жительства и снятие с нее можно будет оформить без посещения ЦОНа
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Алматы облысында дәрігер ота жасаған науқастың денесінде затын ұмытып кеткен
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
              </div>
              <div class="carousel-item">
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
                <div class="first-screen__slider-news">
                    <span class="first-screen__slider-news__date">
                        25 июня 2018
                    </span>
                    <span class="first-screen__slider-news__title">
                        Lorem ipsum dolor sit amet.
                        <span class="first-screen__slider-news__views">
                            <img class="first-screen__slider-news__views-img" src="assets/images/eye.png" alt="">
                            125
                        </span>
                        <span class="first-screen__slider-news__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__slider-news__comments-img">
                            321
                        </span>
                    </span>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <div class="first-screen__news-big">
                    <img class="first-screen__news-big__bg" src="assets/images/news-1.png" alt="">
                    <div class="first-screen__news-big__label">
                        <span class="first-screen__news-big__label-category">Общество</span>
                        <span class="first-screen__news-big__label-title">Регистрацию по месту жительства можно будет оформить без посещения ЦОНа</span>
                        <span class="first-screen__news-big__label-date">25 июня 2018</span>

                        <div class="first-screen__news-big__label-stats">
                            <span class="first-screen__news-big__label-stats__views">
                                <img src="assets/images/eye.png" alt="" class="first-screen__news-big__label-stats__img">
                                125
                            </span>
                            <span class="first-screen__news-big__label-stats__comments">
                                <img src="assets/images/comment.png" alt="" class="first-screen__news-big__label-stats__img">
                                321
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="first-screen__news-small">
                    <img class="first-screen__news-small__img" src="assets/images/news-2.png" alt="">
                    <span class="first-screen__news-small__category">проишествия</span>
                    <span class="first-screen__news-small__title">В Алматы задержали пособников Аблязова</span>
                    <div class="first-screen__news-small__date">25 июня 2018</div>
                    <div class="first-screen__news-small__stats">
                        <span class="first-screen__news-small__stats__views">
                            <img src="assets/images/eye.png" alt="" class="first-screen__news-small__stats__img">
                            125
                        </span>
                        <span class="first-screen__news-small__stats__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__news-small__stats__img">
                            321
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="first-screen__news-small">
                    <img class="first-screen__news-small__img" src="assets/images/news-3.png" alt="">
                    <span class="first-screen__news-small__category">Политика</span>
                    <span class="first-screen__news-small__title">Нурсултан Назарбаев посетит Беларусь</span>
                    <div class="first-screen__news-small__date">25 июня 2018</div>
                    <div class="first-screen__news-small__stats">
                        <span class="first-screen__news-small__stats__views">
                            <img src="assets/images/eye.png" alt="" class="first-screen__news-small__stats__img">
                            125
                        </span>
                        <span class="first-screen__news-small__stats__comments">
                            <img src="assets/images/comment.png" alt="" class="first-screen__news-small__stats__img">
                            321
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">3</div>
</div>