@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PF Centro Slab Pro";
  src: url("assets/fonts/PFCentroSlabPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PF Centro Slab Pro";
  src: url("assets/fonts/PFCentroSlabPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PF Centro Slab Pro";
  src: url("assets/fonts/PFCentroSlabPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
.navbar {
  flex-wrap: wrap;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar-toggler {
  margin-bottom: 20px;
}
.navbar-content {
  flex-basis: 100%;
  margin: 36px 0 57px 0;
}
.navbar-nav {
  width: 100%;
  padding-top: 14px !important;
  padding-bottom: 11px !important;
  display: flex;
  justify-content: space-between;
}
.navbar-collapse {
  border-top: 1px solid #000;
  border-bottom: 3px solid #000;
}
.navbar-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbar-search__search-box {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin-right: 12px;
}
.navbar-search__low-version {
  margin-bottom: 9px;
  color: #1357bc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  transition: color 0.3s;
}
.navbar-search__low-version:hover {
  color: #88afeb;
}
.navbar-search__select-language {
  background: #fafafa;
  padding: 5px 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.navbar-search__select-language__flag {
  margin-bottom: 5px;
}
.navbar-search__example {
  color: #737a7e;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
}
.navbar-search__example a {
  color: inherit;
  transition: color 0.3s;
}
.navbar-search__example a:hover {
  color: #384247;
}
.navbar-search__input {
  background: url("assets/images/search.png");
  background-repeat: no-repeat;
  background-position: 98%;
  border: 1px solid #d3d9dd;
  padding-right: 30px;
  padding-left: 10px;
  height: 37px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}
.navbar-search__input::placeholder {
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.navbar-search__input:focus {
  outline: none;
}
.navbar-search__input:hover {
  background-color: rgba(255, 196, 0, 0.199);
}
.navbar-logo {
  display: flex;
  justify-content: center;
}
.navbar-logo__title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 65px;
  margin: 0;
  line-height: 60px;
}
.navbar-logo__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.navbar-logo__wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar-contacts {
  display: flex;
  justify-content: center;
}
.navbar-contacts__wrapper {
  max-width: 323px;
}
.navbar-contacts__tel {
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 13px 0;
  text-align: end;
}
.navbar-contacts__address {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}
.navbar-contacts__email {
  text-align: end;
}
.navbar-contacts__email a {
  color: #1357bc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  transition: color 0.1s;
}
.navbar-contacts__email a:hover {
  color: #4282e0;
}

.nav-link {
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #706a6a;
}
.nav-item:last-child {
  margin-right: 0;
}

.row {
  --bs-gutter-x: 0 !important;
}
.row > * {
  padding: 10px;
}

.headline {
  display: flex;
  flex-basis: 100%;
  background: #f3f5f7;
  position: relative;
  height: 45px;
}
.headline-text {
  overflow: hidden;
  width: 100%;
  margin: 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 12px;
}
.headline-text:hover span {
  animation-play-state: paused;
}
.headline-text span {
  white-space: nowrap;
  transform: translateX(0);
  animation: headline 20s infinite;
}
.headline-login {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #363636;
  padding: 10px 65px 10px 10px;
}
.headline-login__btn {
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 400;
  background: none;
  border: none;
  color: #fff;
}
.headline-login__btn:first-of-type::after {
  content: "|";
  padding: 0 2px 0 7px;
}
.headline-login__btn:hover {
  text-decoration: underline dotted;
}
@keyframes headline {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.first-screen {
  margin-top: 45px;
}
.first-screen .carousel-inner {
  padding-top: 20px;
}
.first-screen__item {
  flex-basis: 26.34%;
}
.first-screen__item--first {
  flex-basis: 24.33%;
}
.first-screen__item--second {
  flex-basis: 49.33%;
}
.first-screen__slider-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #dce4eb;
  padding-bottom: 10px;
}
.first-screen__slider-header__title {
  font-family: "PF Centro Slab Pro";
  font-weight: 700;
  font-size: 18px;
}
.first-screen__slider-buttons {
  border: none;
  background: none;
  padding: 0;
}
.first-screen__slider-news {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: flex-end;
}
.first-screen__slider-news:last-child {
  margin-bottom: 0;
}
.first-screen__slider-news__date {
  flex-basis: 100%;
  color: #a6a8b9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.first-screen__slider-news__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.first-screen__slider-news__views {
  margin-left: 10px;
  color: #a6a8b9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.first-screen__slider-news__comments {
  margin-left: 10px;
  color: #a6a8b9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.first-screen__news-big {
  position: relative;
  margin-bottom: 24px;
}
.first-screen__news-big__bg {
  width: 100%;
}
.first-screen__news-big__label {
  padding: 25px 25px 34px 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fafcfe;
  opacity: 0.8;
  width: 100%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
}
.first-screen__news-big__label-category {
  flex-basis: 100%;
  color: #ff5a00;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.first-screen__news-big__label-date {
  margin-right: auto;
  color: #7c7e94;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.first-screen__news-big__label-title {
  flex-basis: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.first-screen__news-big__label-stats__views {
  margin-right: 14px;
  color: #7c7e94;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.first-screen__news-big__label-stats__comments {
  color: #7c7e94;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.first-screen__news-small {
  display: flex;
  flex-wrap: wrap;
}
.first-screen__news-small__img {
  width: 100%;
  margin-bottom: 17px;
}
.first-screen__news-small__category {
  flex-basis: 100%;
  color: #ff5a00;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 14px;
}
.first-screen__news-small__title {
  flex-basis: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}
.first-screen__news-small__date {
  margin-right: auto;
  color: #a6a8b9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.first-screen__news-small__stats__views {
  color: #a6a8b9;
}
.first-screen__news-small__stats__comments {
  margin-left: 12px;
  color: #a6a8b9;
}

.subsrcibe-online {
  display: flex;
  flex-wrap: wrap;
  background: #fafafa;
  padding: 29px 30px 32px 30px;
  margin-bottom: 23px;
}
.subsrcibe-online__title {
  flex-basis: 100%;
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subsrcibe-online__subtitle {
  flex-basis: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 25px;
}
.subsrcibe-online__btn {
  flex-basis: 100%;
  background: #ff2100;
  border: none;
  padding: 20px 0;
  border-radius: 10px;
  color: #fff;
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: background 0.3s;
}
.subsrcibe-online__btn:hover {
  background: #e47261;
}

.subsrcibe {
  border: 1px solid #d3d9dd;
  display: flex;
  flex-wrap: wrap;
  padding: 27px 25px 36px 29px;
}
.subsrcibe-title {
  flex-basis: 100%;
  margin-bottom: 25px;
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.subsrcibe-subtitle {
  flex-basis: 100%;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.subsrcibe-form {
  display: inline-flex;
}
.subsrcibe-btn {
  background: #1357bc;
  border: none;
  width: 48px;
  height: 45px;
  transition: background 0.3s;
}
.subsrcibe-btn:hover {
  background: #457ed3;
}
.subsrcibe-form {
  flex-basis: 100%;
}
.subsrcibe-input {
  border: none;
  display: block;
  padding: 0 0 0 20px;
  background: #f5f6f8;
  width: 100%;
  transition: background 0.3s;
}
.subsrcibe-input:hover {
  background: #afc3ec;
}
.subsrcibe-input:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .navbar-logo__title {
    font-size: 50px;
    line-height: 40px;
  }
}
@media (max-width: 991px) {
  .headline-login {
    padding: 10px;
  }
  .navbar-content {
    margin: 20px 0;
  }
  .navbar-nav {
    align-items: center;
  }
  .nav-link {
    font-size: 20px;
  }
  .nav-item {
    margin-bottom: 5px;
  }
  .first-screen__news-big__label {
    position: relative;
    height: auto;
  }
}
@media (max-width: 576px) {
  .navbar-logo__title {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */
