@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PF Centro Slab Pro";
  src: url("assets/fonts/PFCentroSlabPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PF Centro Slab Pro";
  src: url("assets/fonts/PFCentroSlabPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
.navbar {
  flex-wrap: wrap;
  padding: 0;
}
.navbar-content {
  flex-basis: 100%;
  margin: 36px 0 57px 0;
}
.navbar-nav {
  border-top: 1px solid #000;
  border-bottom: 3px solid #000;
  width: 100%;
  padding-top: 14px !important;
  padding-bottom: 11px !important;
}
.navbar-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navbar-search__search-box {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin-right: 12px;
}
.navbar-search__low-version {
  margin-bottom: 9px;
  color: #1357bc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
.navbar-search__select-language {
  background: #fafafa;
  padding: 5px 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.navbar-search__select-language__flag {
  margin-bottom: 5px;
}
.navbar-search__example {
  color: #737a7e;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
}
.navbar-search__example a {
  color: inherit;
}
.navbar-search__input {
  background: url("assets/images/search.png");
  background-repeat: no-repeat;
  background-position: 98%;
  border: 1px solid #d3d9dd;
  padding-right: 30px;
  padding-left: 10px;
  height: 37px;
  margin-bottom: 10px;
}
.navbar-search__input::placeholder {
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.navbar-search__input:focus {
  outline: none;
}
.navbar-logo__title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 65px;
  margin: 0;
  line-height: 60px;
}
.navbar-logo__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.navbar-logo__wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar-contacts__wrapper {
  max-width: 323px;
}
.navbar-contacts__tel {
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 13px 0;
  text-align: end;
}
.navbar-contacts__address {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}
.navbar-contacts__email {
  text-align: end;
}
.navbar-contacts__email a {
  color: #1357bc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.nav-link {
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.nav-item {
  margin-right: 40px;
}
.nav-item:last-child {
  margin-right: 0;
}

.carousel-control-prev, .carousel-control-next {
  color: #000;
}

.headline {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  background: #f3f5f7;
  position: relative;
  height: 45px;
}
.headline-text {
  overflow: hidden;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.headline-text:hover span {
  animation-play-state: paused;
}
.headline-text span {
  white-space: nowrap;
  transform: translateX(0);
  animation: headline 20s infinite;
}
.headline-login {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #363636;
  padding: 10px 65px 10px 10px;
}
.headline-login__btn {
  font-family: "PF Centro Slab Pro", sans-serif;
  font-weight: 400;
  background: none;
  border: none;
  color: #fff;
}
.headline-login__btn:first-of-type::after {
  content: "|";
  padding: 0 2px 0 7px;
}
.headline-login__btn:hover {
  text-decoration: underline dotted;
}
@keyframes headline {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.first-screen {
  display: flex;
  margin-top: 45px;
}
.first-screen__item {
  flex-basis: 26.34%;
}
.first-screen__item--first {
  flex-basis: 24.33%;
}
.first-screen__item--second {
  flex-basis: 49.33%;
}
/*# sourceMappingURL=style.css.map */
